---
import projectCard from "@/components/ProjectCard.astro";
import Base from "@/layouts/Base.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import PageHeader from "@/partials/PageHeader.astro";
import { getEntryBySlug } from "astro:content";

const projectIndex = await getEntryBySlug<any, string>("projects", "-index");
const projects = await getSinglePage("projects");
---

<Base title={projectIndex.data.title}>
  <PageHeader title={projectIndex.data.title} />
  <section class="section-sm pb-0">
    <div class="container">
      <div class="row justify-center">
        {
          projects.map((project) => (
            <div class="mb-14 md:col-6 lg:col-4">
              <projectCard data={project} />
            </div>
          ))
        }
      </div>
    </div>
  </section>
</Base>
